# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Cloudflare Pages Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - sprint/2025-12-v3
   
jobs:
  deploy:
    permissions:
      actions: read
      contents: read
      deployments: write
      pull-requests: write
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies

        run: npm ci
      - name: Build
        run: npm run build

      - name: Deploy to Cloudflare Pages
        uses: andykenward/github-actions-cloudflare-pages@v3.0.0
        with:
          cloudflare-api-token: ${{ secrets.CLOUDFLARE_SERENITY_MANAGEMENT }}
          cloudflare-account-id: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          cloudflare-project-name: ${{ vars.CLOUDFLARE_PROJECT_NAME }}
          directory: dist
          github-token: ${{ secrets.GITHUB_TOKEN }}


